In [1]:
import numpy as np
import pandas as pd

In [3]:
arr=np.random.randn(5,4)

In [4]:
arr

array([[-0.72305053,  0.10605669, -0.04771706,  0.43901327],
       [ 0.71056828,  1.20446034, -0.18010304, -0.21388213],
       [ 1.41853562, -1.35149603, -1.45094887,  0.10643538],
       [ 0.94375886,  1.09014709, -2.4106493 , -0.24003419],
       [ 0.90904689, -0.60376993,  1.33427825, -0.01666346]])

In [7]:
df=pd.DataFrame(arr,['a','b','c','d','e'],['w','x','y','z'])

In [8]:
df

          w         x         y         z
a -0.723051  0.106057 -0.047717  0.439013
b  0.710568  1.204460 -0.180103 -0.213882
c  1.418536 -1.351496 -1.450949  0.106435
d  0.943759  1.090147 -2.410649 -0.240034
e  0.909047 -0.603770  1.334278 -0.016663

In [9]:
df['w']

a   -0.723051
b    0.710568
c    1.418536
d    0.943759
e    0.909047
Name: w, dtype: float64

In [12]:
df[['x','z']]  #note the double bracketsd

          x         z
a  0.106057  0.439013
b  1.204460 -0.213882
c -1.351496  0.106435
d  1.090147 -0.240034
e -0.603770 -0.016663

In [14]:
print(type(df['w'])) #series

<class 'pandas.core.series.Series'>


# adding a column

In [22]:
df['new']=pd.Series([1,2,3,23,3],['a','b','c','d','e'])

In [38]:
df['new2']=df['new']+2

In [40]:
df

          w         x         y         z  new  new2
a -0.723051  0.106057 -0.047717  0.439013    1     3
b  0.710568  1.204460 -0.180103 -0.213882    2     4
c  1.418536 -1.351496 -1.450949  0.106435    3     5
d  0.943759  1.090147 -2.410649 -0.240034   23    25
e  0.909047 -0.603770  1.334278 -0.016663    3     5

In [41]:
df['new3']=df['new2']+df['new']

In [42]:
df

          w         x         y         z  new  new2  new3
a -0.723051  0.106057 -0.047717  0.439013    1     3     4
b  0.710568  1.204460 -0.180103 -0.213882    2     4     6
c  1.418536 -1.351496 -1.450949  0.106435    3     5     8
d  0.943759  1.090147 -2.410649 -0.240034   23    25    48
e  0.909047 -0.603770  1.334278 -0.016663    3     5     8

# droping a column

In [44]:
df.drop('new3')

KeyError: "['new3'] not found in axis"

In [45]:
df.drop('new3',axis=1)

          w         x         y         z  new  new2
a -0.723051  0.106057 -0.047717  0.439013    1     3
b  0.710568  1.204460 -0.180103 -0.213882    2     4
c  1.418536 -1.351496 -1.450949  0.106435    3     5
d  0.943759  1.090147 -2.410649 -0.240034   23    25
e  0.909047 -0.603770  1.334278 -0.016663    3     5

In [46]:
df

          w         x         y         z  new  new2  new3
a -0.723051  0.106057 -0.047717  0.439013    1     3     4
b  0.710568  1.204460 -0.180103 -0.213882    2     4     6
c  1.418536 -1.351496 -1.450949  0.106435    3     5     8
d  0.943759  1.090147 -2.410649 -0.240034   23    25    48
e  0.909047 -0.603770  1.334278 -0.016663    3     5     8

In [47]:
df.drop(['new3','new2'],axis=1,inplace=True) # both get permanantly deleted

In [48]:
df

          w         x         y         z  new
a -0.723051  0.106057 -0.047717  0.439013    1
b  0.710568  1.204460 -0.180103 -0.213882    2
c  1.418536 -1.351496 -1.450949  0.106435    3
d  0.943759  1.090147 -2.410649 -0.240034   23
e  0.909047 -0.603770  1.334278 -0.016663    3