In [1]:
import numpy as np
import pandas as pd

In [2]:
d={'gender':['m','f','f','m','m','f'],'age':[18,14,20,21,25,24]}

In [3]:
d

{'gender': ['m', 'f', 'f', 'm', 'm', 'f'], 'age': [18, 14, 20, 21, 25, 24]}

In [4]:
df=pd.DataFrame(d,index=[0,1,2,3,4,5])

In [5]:
df

  gender  age
0      m   18
1      f   14
2      f   20
3      m   21
4      m   25
5      f   24

In [6]:
group=df.groupby("gender")

In [7]:
group

In [8]:
group.mean()

              age
gender
f       19.333333
m       21.333333

In [13]:
x=group.mean().loc['m']

In [17]:
type(x)

pandas.core.series.Series

In [18]:
x[0]

21.333333333333332

In [19]:
print("average age of males:",x[0])

average age of males: 21.333333333333332

In [20]:
sum_of_age=group.sum()

In [21]:
sum_of_age

        age
gender
f        58
m        64

In [22]:
print("sum of all age of females:",group.sum().loc['f'][0])

sum of all age of females: 58

In [25]:
group.describe()

         age
       count       mean       std   min   25%   50%   75%   max
gender
f        3.0  19.333333  5.033223  14.0  17.0  20.0  22.0  24.0
m        3.0  21.333333  3.511885  18.0  19.5  21.0  23.0  25.0

In [26]:
print("std:",group.describe()['age']['std'])

std: gender
f    5.033223
m    3.511885
Name: std, dtype: float64