In [5]:
import numpy as np

In [6]:
import pandas as pd

In [8]:
key=['a','b','c']
data=[1,2,3]

In [4]:
dict={'e':5,'f':6,'g':7}

In [9]:
pd.Series(data,key)

a    1
b    2
c    3
dtype: int64

In [13]:
print(pd.Series(dict))

e    5
f    6
g    7
dtype: int64

In [14]:
pd.Series([2,3,4,5])

0    2
1    3
2    4
3    5
dtype: int64

In [19]:
pd.Series(index=[1,2,3]) #nan is the output

1   NaN
2   NaN
3   NaN
dtype: float64

In [33]:
ser1=pd.Series([1,2,3,4],['india','srilanka','usa','china'],dtype="int64")
ser2=pd.Series([1,2,5,4],['india','srilanka','england','china'],dtype="int64")

In [21]:
ser1['india']

1

In [23]:
ser2['england']

5

In [25]:
if 'india' in ser1:
    print("hello")

hello

In [34]:
print(ser2+ser1)

china       8.0
england     NaN
india       2.0
srilanka    4.0
usa         NaN
dtype: float64

# dataframes

In [4]:
from numpy.random import randn

In [14]:
np.random.seed(101)

In [15]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [16]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [23]:
df[['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077
c -2.018168  0.528813
d  0.188695 -0.933237
e  0.190794  2.605967

In [24]:
df['x']

a    0.628133
b   -0.319318
c    0.740122
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [25]:
df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [27]:
df.iloc[3]

w    0.188695
x   -0.758872
y   -0.933237
z    0.955057
Name: d, dtype: float64

In [28]:
df.loc['a','y']

0.9079694464765431

In [29]:
df.loc[['b','c'],['x','y']]

          x         y
b -0.319318 -0.848077
c  0.740122  0.528813

In [30]:
df['new']=df['w']

In [31]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  2.706850
b  0.651118 -0.319318 -0.848077  0.605965  0.651118
c -2.018168  0.740122  0.528813 -0.589001 -2.018168
d  0.188695 -0.758872 -0.933237  0.955057  0.188695
e  0.190794  1.978757  2.605967  0.683509  0.190794

# dataframes 2

In [35]:
df>0

       w      x      y      z    new
a   True   True   True   True   True
b   True  False  False   True   True
c  False   True   True  False  False
d   True  False  False   True   True
e   True   True   True   True   True

In [36]:
  df['w']>0

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [37]:
df.loc['a']<0

w      False
x      False
y      False
z      False
new    False
Name: a, dtype: bool

In [1]:
df[df['w']>0]

NameError: name 'df' is not defined

In [2]:
df

NameError: name 'df' is not defined

In [40]:
df2=df[df['z']<0]

In [41]:
df2

          w         x         y         z       new
c -2.018168  0.740122  0.528813 -0.589001 -2.018168

In [42]:
df2['x']

c    0.740122
Name: x, dtype: float64

In [43]:
df2['x']<0

c    False
Name: x, dtype: bool

In [45]:
df[df['x']>0]['x']

a    0.628133
c    0.740122
e    1.978757
Name: x, dtype: float64

In [49]:
booldf=df['x']>0

In [50]:
booldf

a     True
b    False
c     True
d    False
e     True
Name: x, dtype: bool

In [48]:
df[booldf]

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  2.706850
c -2.018168  0.740122  0.528813 -0.589001 -2.018168
e  0.190794  1.978757  2.605967  0.683509  0.190794

In [51]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  2.706850
b  0.651118 -0.319318 -0.848077  0.605965  0.651118
c -2.018168  0.740122  0.528813 -0.589001 -2.018168
d  0.188695 -0.758872 -0.933237  0.955057  0.188695
e  0.190794  1.978757  2.605967  0.683509  0.190794

In [56]:
df[(df['x']>0) & (df['z']<0 )]

          w         x         y         z       new
c -2.018168  0.740122  0.528813 -0.589001 -2.018168

In [8]:
df1=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','w'])

In [9]:
df1

          x         y         z         w
a -0.473108 -0.133760  0.102795 -0.593553
b  0.583965 -0.938175 -1.264671 -0.899512
c -0.120559  1.492428 -1.390864  1.010551
d -1.019477 -1.538616  1.995079 -1.377808
e  2.038603 -0.185202 -0.640974  0.381379

In [17]:
df2=df1.reset_index()

In [16]:
df1

          x         y         z         w
a -0.473108 -0.133760  0.102795 -0.593553
b  0.583965 -0.938175 -1.264671 -0.899512
c -0.120559  1.492428 -1.390864  1.010551
d -1.019477 -1.538616  1.995079 -1.377808
e  2.038603 -0.185202 -0.640974  0.381379

In [18]:
df2

  index         x         y         z         w
0     a -0.473108 -0.133760  0.102795 -0.593553
1     b  0.583965 -0.938175 -1.264671 -0.899512
2     c -0.120559  1.492428 -1.390864  1.010551
3     d -1.019477 -1.538616  1.995079 -1.377808
4     e  2.038603 -0.185202 -0.640974  0.381379

In [19]:
df2['index']

0    a
1    b
2    c
3    d
4    e
Name: index, dtype: object

In [21]:
df2['x']

0   -0.473108
1    0.583965
2   -0.120559
3   -1.019477
4    2.038603
Name: x, dtype: float64

In [22]:
list1='aa bb cc dd ee'.split()

In [23]:
list1

['aa', 'bb', 'cc', 'dd', 'ee']

In [24]:
df2['new']=list1

In [25]:
df2

  index         x         y         z         w new
0     a -0.473108 -0.133760  0.102795 -0.593553  aa
1     b  0.583965 -0.938175 -1.264671 -0.899512  bb
2     c -0.120559  1.492428 -1.390864  1.010551  cc
3     d -1.019477 -1.538616  1.995079 -1.377808  dd
4     e  2.038603 -0.185202 -0.640974  0.381379  ee

In [29]:
df2.drop("new",axis=1,inplace=True)

KeyError: "['new'] not found in axis"

In [30]:
df2

  index         x         y         z         w
0     a -0.473108 -0.133760  0.102795 -0.593553
1     b  0.583965 -0.938175 -1.264671 -0.899512
2     c -0.120559  1.492428 -1.390864  1.010551
3     d -1.019477 -1.538616  1.995079 -1.377808
4     e  2.038603 -0.185202 -0.640974  0.381379

In [32]:
df2[df2["index"]=='a']

  index         x        y         z         w
0     a -0.473108 -0.13376  0.102795 -0.593553

In [34]:
df2[df2["index"]>'b']

  index         x         y         z         w
2     c -0.120559  1.492428 -1.390864  1.010551
3     d -1.019477 -1.538616  1.995079 -1.377808
4     e  2.038603 -0.185202 -0.640974  0.381379

In [35]:
df2

  index         x         y         z         w
0     a -0.473108 -0.133760  0.102795 -0.593553
1     b  0.583965 -0.938175 -1.264671 -0.899512
2     c -0.120559  1.492428 -1.390864  1.010551
3     d -1.019477 -1.538616  1.995079 -1.377808
4     e  2.038603 -0.185202 -0.640974  0.381379

In [36]:
df2.set_index('w')

          index         x         y         z
w
-0.593553     a -0.473108 -0.133760  0.102795
-0.899512     b  0.583965 -0.938175 -1.264671
 1.010551     c -0.120559  1.492428 -1.390864
-1.377808     d -1.019477 -1.538616  1.995079
 0.381379     e  2.038603 -0.185202 -0.640974

In [37]:
df2

  index         x         y         z         w
0     a -0.473108 -0.133760  0.102795 -0.593553
1     b  0.583965 -0.938175 -1.264671 -0.899512
2     c -0.120559  1.492428 -1.390864  1.010551
3     d -1.019477 -1.538616  1.995079 -1.377808
4     e  2.038603 -0.185202 -0.640974  0.381379

In [38]:
df2.set_index('index')

              x         y         z         w
index
a     -0.473108 -0.133760  0.102795 -0.593553
b      0.583965 -0.938175 -1.264671 -0.899512
c     -0.120559  1.492428 -1.390864  1.010551
d     -1.019477 -1.538616  1.995079 -1.377808
e      2.038603 -0.185202 -0.640974  0.381379

In [40]:
df2.loc[0]

index           a
x       -0.473108
y        -0.13376
z        0.102795
w       -0.593553
Name: 0, dtype: object