In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [3]:
 pd.Series(my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [4]:
type(labels)

list

In [5]:
ser=pd.Series(d,dtype=float)

In [6]:
ser

a    10.0
b    20.0
c    30.0
dtype: float64

In [7]:
ser2=pd.Series(labels)

In [8]:
ser2

0    a
1    b
2    c
dtype: object

In [9]:
ser2[0]

'a'

In [10]:
ser['a']

10.0

In [11]:
ser2[1:]

1    b
2    c
dtype: object

In [12]:
ser['b':]>15

b    True
c    True
dtype: bool

In [13]:
ser3=pd.Series([1,2,3],['a','b','c'])

In [14]:
ser4=pd.Series([2,3,4],['b','c','d'])

In [15]:
ser3

a    1
b    2
c    3
dtype: int64

In [16]:
ser4

b    2
c    3
d    4
dtype: int64

In [17]:
ser3+ser4

a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64

#practice

In [18]:
ch='y'
d={}

In [20]:
while ch!='n':
    size=int(input("enter the size of plot in m square"))
    rate=float(input("enter the rate in lakhs"))
    d.update({size:rate})
    ch=input("do you want to continue")

enter the size of plot in m square100
enter the rate in lakhs1.5
do you want to continuey
enter the size of plot in m square200
enter the rate in lakhs2
do you want to continuen

In [21]:
d

{100: 1.5, 200: 2.0}

In [22]:
series=pd.Series(d)

In [23]:
series

100    1.5
200    2.0
dtype: float64

In [31]:
print(series[series>1.6])

200    2.0
dtype: float64